<% content_for :title do %>
  Music Education 
  \| 
  All Enrollments
<% end %>
<h3>
  <div class="text-center">
    Enrollments
    <div class="badge badge-info">
      <%= @enrollments.count %>
    </div>
  </div>
</h3>
<p></p>
<%= search_form_for @q do |f| %>
  <%= f.search_field :user_email_cont, placeholder: 'user email' %>
  <%= f.search_field :course_title_cont, placeholder: 'course title' %>
  <%= f.search_field :price_eq, placeholder: 'price' %>
  <%= f.search_field :rating_eq, placeholder: 'rating' %>
  <%= f.search_field :review_cont, placeholder: 'review' %>
  <%= f.submit %>
<% end %>
<%= link_to 'refresh', enrollments_path %>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>
          <%= sort_link(@q, :user_email) %>
          <!--.fa.fa-user
          -->
          <!--User
          -->
        </th>
        <th>
          <%= sort_link(@q, :created_at) %>
          <!--.fa.fa-clock
          -->
          <!--.fa.fa-lock-open
          -->
          <!--bought
          -->
        </th>
        <th>
          <%= sort_link(@q, :course_title) %>
          <!--.fa.fa-graduation-cap
          -->
          <!--Course
          -->
        </th>
        <th>
          <%= sort_link(@q, :price) %>
          <!--.fa.fa-dollar-sign
          -->
          <!--Price
          -->
        </th>
        <th>
          <%= sort_link(@q, :updated_at) %>
          <div class="row"></div>
          <div class="text-warning fa fa-clock"></div>
          Reviewed on
        </th>
        <th>
          <%= sort_link(@q, :rating) %>
          <div class="text-warning fa fa-star"></div>
          Rating
        </th>
        <th>
          <div class="text-warning fa fa-comment"></div>
          Review
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @enrollments.each do |enrollment| %>
        <tr>
          <td>
            <%= enrollment.id %>
          </td>
          <td>
            <%= link_to enrollment.user, user_path(enrollment.user) %>
          </td>
          <td>
            <%= enrollment.created_at.strftime("%d/%b/%Y, %H:%M") %>
          </td>
          <td>
            <%= link_to enrollment.course, course_path(enrollment.course) %>
          </td>
          <td>
            <%= number_to_currency(enrollment.price) %>
          </td>
          <td>
            <% if enrollment.rating.present? %>
              <%= enrollment.updated_at.strftime("%d/%b/%Y, %H:%M") %>
            <% end %>
          </td>
          <td>
            <%= enrollment.rating %>
          </td>
          <td>
            <%= enrollment.review %>
          </td>
          <td>
            <%= link_to 'See Review', enrollment %>
          </td>
          <td>
            <%= link_to 'Add Review', edit_enrollment_path(enrollment) %>
          </td>
          <td>
            <%= link_to 'Delete Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= raw(pagy_bootstrap_nav(@pagy)) %>
<br/>
