<div class="card mb-2">
  <div class="card-header">
    <% if lesson.viewed(current_user) == true %>
      <div class="text-success far fa-check-square"></div>
      <!--VIEWED
      -->
    <% else %>
      <div class="text-danger far fa-check-square"></div>
      <!--NOT VIEWED
      -->
    <% end %>

    <%= link_to course_lesson_path(@course, lesson) do %>
      <b>
        <%= lesson.title %>
      </b>
    <% end %>
  </div>
    <% if policy(lesson).show? %>
      <div class="card-body">
        <% if @lesson.video.attached? %>
          <% if @lesson.video_thumbnail.attached? %>
            <video controls="true" poster="#{url_for @lesson.video_thumbnail}" width="100%" preload="metadata">
              <source src="<%= rails_blob_url(@lesson.video) %>" type="<%= @lesson.video.content_type %>"></source>
            </video>
          <% else %>
            <video controls="true" width="100%" preload="metadata">
              <source src="<%= rails_blob_url(@lesson.video) %>" type="<%= @lesson.video.content_type %>"></source>
            </video>
          <% end %>
        <% end %>
        <%= lesson.instruction %>
      </div>
    <% end %>
    <% if policy(lesson).edit? %>
      <div class="card-footer">
        <%= link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      </div>
    <% end %>
    <div class="card-footer">
      <% unless lesson.prev.nil? %>
        <div class="float-left">
          <%= link_to course_lesson_path(@course, lesson.prev), class: 'btn btn-sm btn-info' do %>
            <div class="fa fa-arrow-left"></div>
            Previous
          <% end %>
        </div>
      <% end %>
      <% unless lesson.next.nil? %>
        <div class="float-right">
          <%= link_to course_lesson_path(@course, lesson.next), class: 'btn btn-sm btn-info' do %>
            <div class="fa fa-arrow-right"></div>
            Next
          <% end %>
        </div>
      <% end %>
    </div>

</div>
