<div class="card">
  <div class="card-header">
    <div class="fa fa-graduation-cap"></div>
    <%= link_to course.title + ' ' + '(' + course.instrument + ')', course_path(course) %>
  </div>
  <% if course.avatar.attached? %>
    <div class="card-img-top">
      <%= image_tag course.avatar, height: "200px", width: "100%" %>
    </div>
  <% end %>
  <div class="card-body">
    <p>Genre: <%= course.genre %> </p>
    <%= course.description %>
  </div>
  <div class="card-footer">
    <div class="text-center">
      <%= enrollment_button(course) %>
      <div class="row">
        <%= review_button(course) %>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class='row'>
      <div class="col-md-6">
        <div class="text-warning fa fa-star"></div>
        <b>
          <%= course.average_rating %>
        </b>
        (
        <div class="fa fa-user-graduate"></div>
        <%= course.enrollments_count %>
        )
        <div class="fa fa-tasks"></div>
        <%= course.lessons_count %>
        
      </div>
      <div class="col-md-6">
        <div class="text-right">
          <div class="fa fa-chalkboard-teacher"></div>
          <%= link_to course.user.username, user_path(course.user) %>
        </div>
      </div>
    </div>
  </div>
  <%# if policy(course).edit? %>
  <% if current_user %>
    <% if policy(course).owner? %>
      <div class="card-footer">
        <%= link_to 'Add lesson', new_course_lesson_path(course, @lesson), class: 'btn btn-primary btn-sm'  %>
        <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' %>
        <%= link_to analytics_course_path(course), class: 'btn btn-sm btn-info' do %>
          <div class='.fa.fa-chart-bar'></div>
            Analtycs
          <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% if policy(course).admin_or_owner? %>
      <div class="card-footer">
        <% if course.published? %>
          <div class="badge badge-success">published</div>
        <% else %>
          <div class="badge badge-danger">unpublished</div>
        <% end %>
        <% if course.approved? %>
          <div class="badge badge-success">approved</div>
        <% else %>
          <div class="badge badge-danger">unapproved</div>
        <% end %>
      </div>
    <% end %>
    <% if policy(course).approve? %>
      <div class="card-footer">
        <% if course.approved? %>
          <%= link_to 'unapprove', unapprove_course_path(course), method: :patch, class: 'btn btn-sm btn-danger' %>
        <% else %>
          <%= link_to 'approve', approve_course_path(course), method: :patch, class: 'btn btn-sm btn-success' %>
        <% end %>
      </div>
    <% end %>

</div>
